<div class="container">
    <div class="row" style="padding-top:30px" >
      <div class="col-sm-12"></div>
    </div>
    <div class="row well">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 left">
          <ul class="nav nav-pills">
              <!-- <li [class.active] = "appear == 'clb'"><a (click) = "appear = 'clb'">CLB</a></li> -->
              <!-- <li [class.active] = "appear == 'course'"><a (click) = "appear = 'course'">Courses</a></li> -->
            </ul>
            <div [ngSwitch] = "appear">
              <div *ngSwitchCase="'clb'"><app-clb></app-clb></div>
              <div *ngSwitchCase="'course'"><app-courses></app-courses></div>
              <div *ngSwitchDefault>None</div>
            </div>
      </div>
      <div class="col-sm-1">
         
      </div>
        
        
    </div>
